   <nav>
        <div class="logo">
            <a href=""><h5>HomeKart</h5></a>
            <a href="/viewAllProducts/?page=1"><h5>All Products</h5></a>
        </div>

        <div class="icons">
      <div class="col-md-3 wishlist"> <a href="/wishlist"><i class="ri-heart-3-line"></i></a></div>
      <div class="col-md-3 cart"> <a href="/cart"><i class="ri-shopping-cart-2-line"></a></i></div>
      <div class="col-md-3 adminlogo"> <a href="/userProfile"><i class="ri-user-line"></i></a></div>
      <div class="col-md-3 logout"><a href="/logout"><i class="ri-logout-box-r-line"></i></a></div>
        </div>
    </nav>

<form action="/checkOut" method="post">
<div class="checkoutSection row container-fluid">
    <div class="col-md-5  ms-3 mt-5 container-fluid ">
        <table class="table tableCart">
  <tbody>
    {{#each products}}
    <tr>

      <td><img src="{{this.product.url}}" alt=""></td>
      <td>{{this.name}}</td>
      <td>Rs {{this.price}}</td>
      <td><a href="/removeFromCart/{{this._id}}" style="text-decoration: none; color:black"> <i class="ri-close-circle-fill"></i></a> </td>
    </tr>
    {{/each}}

    <tr>
      <b class="text-danger">{{err}}</b>
        <td></td>
        <td><h6>Amount</h6></td>
        <td><h6>Rs {{totalPrice}}</h6></td>
    </tr>
     <tr>
        <td></td>
        <td>Discount<h6></h6></td>
        <td><h6>Rs 0.00</h6></td>
    </tr>
    <tr>
        <td></td>
        <td>Delivery Charge<h6></h6></td>
        <td><h6>Rs 40</h6></td>
    </tr>
     <tr>
        <td></td>
        <td><h5>Total</h5></td>
        <td><h5>Rs {{amount}}</h5></td>
    </tr>
  </tbody>
</table>

<b class="text-danger">{{noAddress}}</b>
<div class="addressSection col-md-8">

 {{#each address}}
<label for="{{this.id}}" class="addressCard p-2 d-flex justify-content-between">
  <div class="address">
  <ul class="addressList">
        <li class="userName">{{this.name}}</li>
    <li>{{this.Address}}</li>
    <li>{{this.city}}</li>
    <li>{{this.landMark}}</li>
     <li>{{this.pincode}}</li>
    <li>{{this.phone}}</li>
    <li><a href="/removeAddress/{{this.id}}">Delete</a></li>
  </ul>
  </div>
  <div class="selectaddress d-flex align-items-center pe-3">
    <input type="radio" name="address" id="{{this.id}}" value="{{this.id}}">
  </div>
</label>
{{/each}}
 <a href="/addAddress">Add address</a>

</div>
</div>
<div class="col-md-5 mt-3 payment">
<h4>Paymnet Type</h4>
<div class="paymentType">
  <div class="cod">
<input type="radio" name="Payment" required value="COD">Cash On Delivery
</div>
  <div class="cod">
<input type="radio" name="Payment" required value="online">Online Payment
</div>
</div>
<div class="coupons">
<a href="/addCoupon">Add coupon</a>
<b class="text-danger">{{noCoupon}}</b>
<b class="text-success">{{success}}</b>

<input
        type="text"
        value="{{couponCode}}"
        class="form-control"
        name="couponCode"
        style="height:0px;visibility:hidden;"
      />
</div>


   <div class="myWalletCheck ms-3">
    <img src="/images/wallet.png" alt="">
    <div class="wallletItems">
    <p>  My Wallet </p>
     <p> Balance</p>
      <b>Rs {{user.wallet}}</b>
      </div>
  <input type="radio" name="wallet" value="{{user.wallet}}">
    </div>
<div class="amountDetials mt-3">
  <table class="table tableCart">
    <tr>
        <td></td>
        <td><h6>Amount</h6></td>
        <td><h6>Rs {{amount}}</h6></td>
    </tr>
     <tr>
        <td></td>
        <td>Discount<h6></h6></td>
        {{#if discount}}
        <td><h6>Rs {{discount}}</h6></td>
        {{else}}
        <td><h6>Rs 0.00</h6></td>
        {{/if}}
    </tr>
     <tr>
        <td></td>
        <td><h3>Total</h3></td>
        <td><h3>Rs {{totalAmount}}</h3></td>
    </tr>
  </tbody>
</table>
</div>
<div class="checkOutButtons d-flex justify-content-around w-90 row">
<button type="submit" class="btn btn-success  w-50">Proceed to pay</button>
<a href="/canceOrder" class="btn btn-outline-success w-25">Cancel</a>
</div>
</div>
</form>
</div>