    <nav>
        <div class="logo">
            <a href=""><h5>HomeKart</h5></a>
            <a href="/viewAllProducts/?page=1"><h5>All Products</h5></a>
        </div>

        <div class="icons">
      <div class="col-md-3 wishlist"> <a href="/wishlist"><i class="ri-heart-3-line"></i></a></div>
      <div class="col-md-3 cart"> <a href="/cart"><i class="ri-shopping-cart-2-line"></a></i></div>
      <div class="col-md-3 adminlogo"> <a href="/userProfile"><i class="ri-user-line"></i></a></div>
      <div class="col-md-3 logout"><a href="/logout"><i class="ri-logout-box-r-line"></i></a></div>
        </div>
    </nav>
<div class="container-fluid">
    <h3 class="text-center mt-4">My Orders</h3>
    <table class="table userOrderTable ">
  <thead class="bg-success text-white">
    <tr>
      
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Total Price</th>
      <th scope="col">Status</th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody>
    {{#each orders}}
    <tr class="">
      <td>{{inc @index}}</td>
      <td>{{this.orderItems.name}}</td>
      <td>Rs {{this.totalPrice}}</td>
         {{#if this.return}}
      <td class="text-success">{{this.status}}</td>
      {{else if this.cancel}}
      <td class="text-danger">{{this.status}}</td>
      {{else if this.returnStatus}}
      <td class="text-dark">{{this.status}}</td>
      {{else}}
      <td class="text-primary">{{this.status}}</td>
      {{/if}}
      <td scope="row"><a href="/viewOrder/{{this._id}}">View</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>