    <nav>
        <div class="logo">
            <a href="/"><h5>HomeKart</h5></a>
            <a href="/viewAllProducts/?page=1"><h5>All Products</h5></a>
        </div>

        <div class="icons">
      <div class="col-md-3 wishlist"> <a href="/wishlist"><i class="ri-heart-3-line"></i></a></div>
      <div class="col-md-3 cart"> <a href="/cart"><i class="ri-shopping-cart-2-line"></a></i></div>
      <div class="col-md-3 adminlogo"> <a href="/userProfile"><i class="ri-user-line"></i></a></div>
      <div class="col-md-3 logout"><a href="/logout"><i class="ri-logout-box-r-line"></i></a></div>
        </div>
    </nav>
<div class="row profile">
    <div class="sidebar userProfile  col-md-2 p-4 ps-0 text-center">
    <div class="profileSection ms-3">
        <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="">
        <h4>{{user.name}}</h4>
        <h6>{{user.email}}</h6>
       <a href="/forgetPassword">Change Password</a>
       <a href="/logout">Logout</a>
    </div>

    <div class="profileAction  ms-3"><a href="/wishlist">Wishlist</a></div>
    <div class="profileAction  ms-3"><a href="/cart">Carts</a></div>
    <div class="profileAction  ms-3"><a href="/orders">Orders</a></div>
   
</div>

<div class="addressSection col-md-4 container-fluid">
<div class="row">
{{#each address}}
<div class="addressCard col-md-6">
  <div class="address">
  <ul class="addressList">
    <li class="userName">{{this.name}}</li>
    <li>{{this.Address}}</li>
    <li>{{this.city}}</li>
    <li>{{this.landMark}}</li>
     <li>{{this.pincode}}</li>
    <li>{{this.phone}}</li>
    <li><a href="/removeAddress/{{this.id}}">Delete</a></li>
  </ul>
</div>
{{/each}}
</div>
  <a href= "/addAddress" class="adressAdd">Add address</a>
</div>
</div>
<div class="col-md-4">

   <div class="myWallet ms-3">
    <img src="/images/wallet.png" alt="">
    <p>  My Wallet </p>
     <p> Balance</p>
      <b>Rs {{user.wallet}}</b>
    </div>
</div>
</div>