   <nav>
        <div class="logo">
            <a href="/"><h5>HomeKart</h5></a>
            <a href="/viewAllProducts/?page=1"><h5>All Products</h5></a>
        </div>

        <div class="icons">
      <div class="col-md-3 wishlist"> <a href="/wishlist"><i class="ri-heart-3-line"></i></a></div>
      <div class="col-md-3 cart"> <a href="/cart"><i class="ri-shopping-cart-2-line"></a></i></div>
      <div class="col-md-3 adminlogo"> <a href="/userProfile"><i class="ri-user-line"></i></a></div>
      <div class="col-md-3 logout"><a href="/logout"><i class="ri-logout-box-r-line"></i></a></div>
        </div>
    </nav>

    <div class="container">

        <div class="row singleOrderSection">
            <div class="col-md-5 singleOrderImage"> 
                <img src="{{orders.orderItems.product.secure_url}}" class="img-fluid" alt="" id="mainImg">
            </div>
            <div class="col-md-7  userorderDetials h-100">
                <h3>{{orders.orderItems.name}}</h3>
                <div class="pro-quantity"><h6>Quantity:{{orders.quantity}}</h6></div>    
                
                <p>Order Status:{{orders.status}}</p>
                <p>Date Ordered : {{dateOrdered}}</p>
                <p>Delivery expectd by:{{dateDelivered}}</p>
                <p>Discount: {{orders.discount}}</p>
                <h4 class="text-dark">Total Price:{{orders.totalPrice}}</h4>
                <div class="OrderAddress">
                   <h6> Delivery Address</h6>
                   <p> name:{{orders.address.name}}</p>
                    <p>Address:{{orders.address.Address}}</p>
                    <p>city:{{orders.address.city}}</p>
                    <p>landmark:{{orders.address.landmark}}</p>
                    <p>pincode:{{orders.address.pincode}}</p>
                   <p>Phone NO:{{orders.address.phone}}</p>
                </div>
                {{#if orders.return}}
                <a href="/returnProduct/{{orders._id}}" class="btn btn-warning">Return</a>
                <button type="button" class="btn btn-dark mt-3" onclick="downloadInvoice()">Download Invoice</button>
                {{else if orders.cancel}}
                {{else if orders.returnStatus}}
                
                {{else}}
                <a href="/cancelOrder/{{orders._id}}" class="btn btn-danger">Cancel</a>
                {{/if}}
     </div>
 
    </div>


 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
    <script>

  let productName= '{{orders.orderItems.name}}'
  let productQuantity= '{{orders.quantity}}'
  let productPrice= '{{orders.orderItems.price}}'
  let productTotal= '{{orders.totalPrice}}'
  let orderId= '{{orders._id}}'
  console.log(orderId)
  let discount= '{{orders.discount}}'
  let userName= '{{orders.address.name}}'
  let mobile= 'orders.address.phone'
  let address= '{{orders.address.landmark}}, {{orders.address.city}}, {{orders.address.pincode}}'
  let dispatch= '{{dateDelivered}}'





            function downloadInvoice(){
    const { jsPDF } = window.jspdf;
    const doc= new jsPDF();
    doc.text(15, 20, "HomeKart Invoice");
    doc.setFontSize(12);
      doc.text(15, 30, "Invoice No : "+orderId);
      doc.text(15, 40, "Name : "+userName);
      doc.text(15, 50, "Address : "+address);
      doc.text(15, 60, "Mobile : "+mobile);
      doc.text(15, 70, "Date : "+dispatch);
      doc.autoTable({
        head: [['Product Name', 'Quantity', 'price', "total"]],
        body: [
              [productName, productQuantity, productPrice, productTotal],
              ["", "", "", ""],
              ["", "", "Discount", discount],
              ["", "", "Total", productTotal-discount],
              ["", "", "", ""]
              ],
        startY: 80
      })
    doc.setFontSize(14);
      doc.text(15, doc.lastAutoTable.finalY + 70, "Thank you for the purchase . Continue shopping with us...");
      doc.save('invoice.pdf');
  }
    </script>